.gallary-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.log-container {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
}

.map-container {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;

  /*nested layout */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text-container {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 22px;
}

.map-image-container {
  /*border style*/
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;

  padding: 1px;
}

.map-image-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.map-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
