.icon-div {
  height: 80px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

.icon-div-selected {
  height: 80px;
  padding: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #8884d8;
  transform: scale(1.1);
}

.icon-div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icon-img {
  max-width: 100%;
  max-height: 100%;
}

.scoreBar {
  height: 5px;
  width: 100%;
}
