.icon-div {
  height: 80px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

.icon-div-selected {
  height: 80px;
  padding: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #e31a1c;
  box-shadow: 0 0 5px #e31a1c;
  transform: scale(1.1);
}

.icon-div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icon-div-focus {
  outline: none;
  border-width: 2px;
  border-color: #8884d8;
  border-style: solid;
  box-shadow: 0 0 8px #8884d8;
}

.icon-div-selected:hover {
  cursor: pointer;
}

.icon-img {
  max-width: 100%;
  max-height: 100%;
}

.scoreBar {
  height: 5px;
  width: 100%;
}

.back-icon {
  height: 80px;
}

.back-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
